* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: 0.4s;
  z-index: 1000;
}

/* SCROLL EFFECT */
nav.scrolled {
  background: #111;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

/* LOGO */
.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

/* HOVER EFFECT */
.nav-links a:hover {
  color: #00ffff;
}

/* SECTIONS */
.section {
  height: 100vh;
  padding: 100px 50px;
  text-align: center;
}

/* HOME SECTION */
.home {
  background: linear-gradient(to right, #000428, #004e92);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home h1 {
  font-size: 40px;
}

.home button {
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  background: #00ffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* FOOTER */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .service-container {
        flex-direction:column;
        align-items:center;
    }

  nav {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    text-align: center;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .home h1 {
    font-size: 28px;
  }
}
/* SERVICES SECTION */

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.service-card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.service-card h3 {
  margin-bottom: 10px;
  color: #004e92;
}

.service-card:hover {
  transform: translateY(-8px);
  background: #f0f8ff;
}
/* CONTACT SECTION */

.contact {
  background: #f5f7fa;
}

.contact-box {
  background: white;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  margin-top: 20px;
}

.contact-box p {
  margin: 10px 0;
  font-size: 16px;
}
#about {
  background: linear-gradient(to right, #e3f2fd, #ffffff);
}

#services {
  background: linear-gradient(to right, #ffffff, #e0f7fa);
}

#contact {
  background: linear-gradient(to right, #f3e5f5, #ffffff);
}
